/* ----------------------------------------------
 Reset
 ---------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ----------------------------------------------
 Main
 ---------------------------------------------- */
html, body, section, header, footer, .page-wrap {
  width: 100%; }

body {
  min-width: 320px;
  font: 14px Tahoma, sans-serif;
  color: #6b6b6b;
  background-color: #fff; }

header::after, footer::after, div::after, nav::after, ul::after, form::after {
  content: '';
  display: table;
  clear: both; }

section, .container, form {
  position: relative;
  z-index: 2; }

section {
  padding: 40px 0 60px; }

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto; }

/* ----------------------------------------------
 Fonts Paragrahps
 ---------------------------------------------- */
h1 {
  margin: 0 0 10px;
  font-size: 30px;
  font-weight: bold; }

h2 {
  font-size: 18px;
  font-weight: bold;
  color: #212121;
  text-transform: uppercase; }

/* ----------------------------------------------
 Links Img
 ---------------------------------------------- */
a {
  color: #0087cf;
  outline: 0; }
  a:hover {
    text-decoration: none; }

li {
  list-style: none; }

img, video {
  width: 100%;
  vertical-align: bottom; }

/* ----------------------------------------------
 Form Buttons Inputs
 ---------------------------------------------- */
button, input, textarea {
  outline: none;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

button {
  cursor: pointer; }

.btn {
  position: relative;
  z-index: 2;
  display: block;
  font: 11px "Open Sans", sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #69ba2e;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .btn:hover {
    background-color: #0087cf; }

.contact-us-btn {
  float: left;
  padding: 9px 32px;
  margin-top: 2px;
  background-color: #0087cf; }
  .contact-us-btn:hover {
    background-color: #69ba2e; }

.ordered-transportation-btn {
  float: right;
  padding: 9px 26px 9px 56px; }
  .ordered-transportation-btn::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 9px;
    left: 18px;
    width: 21px;
    height: 16px;
    background-image: url("img/sprite.png");
    background-position: -128px 0; }

.more-btn {
  position: absolute;
  z-index: 2;
  bottom: 5%;
  left: 5%;
  padding: 10px 36px 11px 36px;
  background-color: #474a4e; }
  .more-btn:hover {
    background-color: #69ba2e; }

.order-call-btn {
  float: right;
  padding: 12px 18px 12px 15px;
  color: #999b9d;
  background-color: #333536; }
  .order-call-btn:hover {
    background-color: #3d4041; }

.order-service-btn {
  width: 300px;
  padding: 7px 30px;
  margin: 0 auto;
  font: 14px Tahoma, sans-serif;
  text-transform: none;
  text-align: center;
  border: 1px solid #69ba2e;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .order-service-btn:hover {
    color: #6b6b6b;
    background-color: #fff; }

/* ---------------------------------------------- /*
 Transition elsements
/* ---------------------------------------------- */
a, button {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

/* ----------------------------------------------
 Header
 ---------------------------------------------- */
.top-line {
  padding: 10px 0 11px;
  background-color: #e5e5e5; }
  .top-line .phone {
    float: left;
    margin: 2px 30px 0 20px;
    font: 18px Arial, sans-serif;
    line-height: 33px; }
  .top-line form {
    float: left;
    width: 40%; }
    .top-line form input {
      width: 100%;
      height: 36px;
      padding: 10px 200px 11px 20px;
      font: 12px Arial, sans-serif;
      color: #757575;
      background-color: #fff;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
    .top-line form button {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      width: 180px;
      height: 36px;
      font: 11px "Open Sans", sans-serif;
      color: #fff;
      line-height: 36px;
      text-transform: uppercase;
      background-color: #a0a3a7;
      -moz-border-radius: 0 3px 3px 0;
      -webkit-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0; }
      .top-line form button:hover {
        background-color: #3d4041; }
  .top-line .lang {
    float: right;
    margin-top: 3px;
    margin-left: 20px;
    font-size: 24px; }
    .top-line .lang span {
      -moz-box-shadow: 0 0 4px 1px rgba(81, 81, 81, 0.6);
      -webkit-box-shadow: 0 0 4px 1px rgba(81, 81, 81, 0.6);
      box-shadow: 0 0 4px 1px rgba(81, 81, 81, 0.6); }

header {
  position: absolute;
  z-index: 50;
  top: 57px;
  height: 140px;
  padding-top: 50px;
  background-color: #fff; }

.header__links {
  float: left;
  width: 35%;
  font-family: Arial, sans-serif; }
  .header__links a {
    display: block;
    float: left;
    position: relative;
    z-index: 2;
    padding-left: 40px;
    line-height: 30px; }
    .header__links a + a {
      margin-left: 40px; }
    .header__links a::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background-image: url("img/sprite.png"); }

.header__logo {
  display: block;
  float: left;
  width: 30%; }

.header__btn {
  float: left;
  width: 35%; }

.rates-icon::before {
  background-position: 0 0; }

.calculator-icon::before {
  background-position: -64px 0; }

#m-menu:not(.mm-menu) {
  display: none; }

.mobile-nav {
  display: none;
  float: left;
  width: 25%;
  min-width: 70px;
  height: 42px;
  margin-top: -5px;
  background-color: transparent;
  z-index: 50; }

.menu-button {
  cursor: pointer;
  padding: 0; }

.hamburger {
  padding: 9px 15px;
  background-color: transparent;
  width: 70px;
  margin: 0; }

.hamburger-box {
  width: 40px;
  height: 24px;
  position: relative; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #69ba2e;
  border-radius: 4px;
  position: absolute; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }
.hamburger-inner::before {
  top: -10px; }
.hamburger-inner::after {
  bottom: -10px; }

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    -moz-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    -o-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.navbar {
  position: absolute;
  z-index: 20;
  top: 197px;
  left: 0;
  width: 100%; }

.inner .navbar, .inner .top-menu__lvl2, .inner .top-menu__lvl3 {
  background-color: #0087cf; }
.inner .directions .line-block {
  padding-bottom: 0;
  border-bottom: none; }
.inner .pageheader .container {
  max-width: 1240px;
  height: 100%;
  padding: 0 20px; }

.navbar, .top-menu__lvl2, .top-menu__lvl3 {
  background-color: rgba(0, 0, 0, 0.56); }

.top-menu {
  font-size: 12px; }
  .top-menu li {
    position: relative;
    z-index: 20; }
  .top-menu a {
    display: block;
    color: #fff;
    text-decoration: none; }
    .top-menu a:hover {
      background-color: #69ba2e; }
  .top-menu > li {
    float: left; }
    .top-menu > li > a {
      padding: 23px 20px 24px;
      text-transform: uppercase; }
    .top-menu > li:hover .top-menu__lvl2 {
      display: block; }

.top-menu__lvl2, .top-menu__lvl3 {
  display: none;
  position: absolute;
  z-index: 20;
  width: 200px; }
  .top-menu__lvl2 > li > a, .top-menu__lvl3 > li > a {
    padding: 5px 20px; }

.top-menu__lvl2 {
  top: 100%;
  left: 0;
  margin-top: -1px; }
  .top-menu__lvl2 > li:hover .top-menu__lvl3 {
    display: block; }

.top-menu__lvl3 {
  top: 0;
  left: 100%; }

.pageheader {
  padding: 140px 0 0; }
  .pageheader .container {
    max-width: 1920px;
    padding: 0; }

.pageheader__slider {
  position: relative;
  z-index: 2;
  height: 750px;
  overflow: hidden; }
  .pageheader__slider img {
    width: auto; }
  .pageheader__slider .slide__info {
    position: absolute;
    z-index: 2;
    top: 55%;
    left: 45%;
    max-width: 600px;
    color: #fff;
    -ms-transform: skew(-15deg) translate(-50%, -50%);
    -moz-transform: skew(-15deg) translate(-50%, -50%);
    -webkit-transform: skew(-15deg) translate(-50%, -50%);
    -o-transform: skew(-15deg) translate(-50%, -50%);
    transform: skew(-15deg) translate(-50%, -50%); }
    .pageheader__slider .slide__info p, .pageheader__slider .slide__info ul {
      -ms-transform: skew(15deg);
      -moz-transform: skew(15deg);
      -webkit-transform: skew(15deg);
      -o-transform: skew(15deg);
      transform: skew(15deg); }
  .pageheader__slider .title-box {
    padding: 30px 40px;
    font-size: 30px;
    text-transform: uppercase;
    background-color: rgba(0, 135, 207, 0.8); }
  .pageheader__slider .about-box {
    padding: 20px 20px 20px 50px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.56); }
    .pageheader__slider .about-box li {
      margin-bottom: 10px;
      list-style: disc; }
  .pageheader__slider .contact-box {
    padding: 20px;
    font-size: 18px;
    background-color: rgba(105, 186, 46, 0.8); }

.bread-crumbs {
  padding: 25px 20px;
  margin-top: 61px; }
  .bread-crumbs li {
    float: left;
    font-size: 12px; }
    .bread-crumbs li a {
      color: #a0a3a7; }
    .bread-crumbs li:first-of-type::before {
      content: ''; }
    .bread-crumbs li::before {
      content: "\a0\2192\20"; }

.banner-block {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1920px;
  height: 377px;
  margin: 0 auto;
  background-image: url("img/banner01_s.jpg");
  background-size: cover; }

.banner__info {
  position: absolute;
  bottom: 30px;
  left: 40px;
  width: 400px;
  padding: 15px;
  color: #fff;
  background-color: rgba(13, 108, 150, 0.7); }

.inner-grey {
  background-color: #eef2f3; }

.about-company img {
  float: left;
  width: 130px;
  margin-right: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
  .about-company img + p {
    padding-top: 30px; }
.about-company p {
  font-size: 16px; }

/*slider*/
.slide + .slide {
  display: none; }

.slick-initialized .slide {
  display: block; }

@media (max-width: 1199px) {
  .top-line .phone {
    font-size: 16px; }
  .top-line form {
    width: 35%; }
  .top-line .lang {
    margin-left: 10px; }

  .top-menu > li > a {
    padding: 23px 10px 24px;
    text-transform: uppercase; } }
@media (max-width: 1023px) {
  .top-line .phone {
    margin: 2px 10px 0; }

  .top-menu > li > a {
    font-size: 11px; } }
/* Small devices */
@media (max-width: 991px) {
  .top-line .phone {
    display: none; }
  .top-line form {
    width: 50%;
    margin: 0 20px; }

  header {
    height: 120px;
    padding-top: 45px; }

  .header__links {
    display: none; }

  .header__logo {
    width: 39%; }

  .header__btn {
    width: 36%; }

  .navbar {
    display: none; }

  .mobile-nav {
    display: block; }

  .pageheader {
    padding-top: 120px; }

  .pageheader__slider {
    height: 650px; }
    .pageheader__slider .slide__info {
      top: 45%; }
    .pageheader__slider .title-box {
      padding: 20px 40px;
      font-size: 24px; }
    .pageheader__slider .about-box {
      padding-left: 60px; }
    .pageheader__slider .contact-box {
      padding-left: 30px; }

  .banner__info {
    left: 50px; }

  .about-company img + p {
    padding-top: 0; } }
/* Extra small devices */
@media (max-width: 767px) {
  .container {
    padding: 0 10px; }

  .top-line {
    display: none; }

  header {
    top: 0;
    height: 80px;
    padding-top: 15px; }

  .header__logo {
    width: 35%; }

  .header__btn {
    width: 45%; }

  .mobile-nav {
    width: 20%; }

  .pageheader {
    padding-top: 80px; }

  .pageheader__slider {
    height: 400px; }
    .pageheader__slider .title-box {
      font-size: 18px; }
    .pageheader__slider .slide__info {
      width: 75%;
      top: 30%;
      left: 42%; }
    .pageheader__slider .about-box {
      padding-left: 50px;
      font-size: 14px; }
    .pageheader__slider .contact-box {
      font-size: 14px; } }
@media (max-width: 599px) {
  .header__logo {
    width: 45%; }

  .header__btn {
    width: 36%;
    float: right; }

  .mobile-nav {
    width: 15%;
    min-width: 50px; }

  .hamburger {
    width: 50px;
    padding: 5px 15px 9px 0; }

  .ordered-transportation-btn {
    padding: 9px 10px;
    margin-top: 0;
    font-size: 10px; }
    .ordered-transportation-btn::before {
      display: none; }

  .pageheader__slider .slide__info {
    width: 85%;
    -ms-transform: skew(-10deg) translate(-50%, -50%);
    -moz-transform: skew(-10deg) translate(-50%, -50%);
    -webkit-transform: skew(-10deg) translate(-50%, -50%);
    -o-transform: skew(-10deg) translate(-50%, -50%);
    transform: skew(-10deg) translate(-50%, -50%); }
    .pageheader__slider .slide__info p, .pageheader__slider .slide__info ul {
      -ms-transform: skew(10deg);
      -moz-transform: skew(10deg);
      -webkit-transform: skew(10deg);
      -o-transform: skew(10deg);
      transform: skew(10deg); }
  .pageheader__slider .title-box {
    padding: 10px 20px;
    font-size: 14px; }
  .pageheader__slider .about-box {
    padding: 10px 10px 10px 30px;
    font-size: 12px; }
  .pageheader__slider .contact-box {
    padding: 10px 10px 10px 20px;
    font-size: 12px; }

  .bread-crumbs {
    display: none; }

  .banner__info {
    width: 100%;
    left: 0; }

  h1 {
    font-size: 26px; }

  .about-company p {
    font-size: 14px; } }

/*# sourceMappingURL=header-css.css.map */
