/* ----------------------------------------------
 Reset
 ---------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    background-position:center;
    background-repeat:no-repeat;
    @include box-sizing(border-box);
}

/* ----------------------------------------------
 Main
 ---------------------------------------------- */

html, body, section, header, footer, .page-wrap {
    width: 100%;
}

body {
    min-width: 320px;
    font: 14px $tahoma;
    color: #6b6b6b;
    background-color: #fff;
}

header, footer, div, nav, ul, form {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
section, .container, form {
    position: relative;
    z-index: 2;
}
section {
    padding: 40px 0 60px;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

/* ----------------------------------------------
 Fonts Paragrahps
 ---------------------------------------------- */

h1 {
    margin: 0 0 10px;
    font-size: 30px;
    font-weight: bold;
}
h2 {
    font-size: 18px;
    font-weight: bold;
    color: #212121;
    text-transform: uppercase;
}

/* ----------------------------------------------
 Links Img
 ---------------------------------------------- */

a {
    color: $blue;
    outline: 0;
    &:hover {
        text-decoration: none;
    }
}

li {
    list-style: none;
}

img, video {
    width: 100%;
    vertical-align: bottom;
}

/* ----------------------------------------------
 Form Buttons Inputs
 ---------------------------------------------- */

button, input, textarea {
    outline: none;
    border: none;
    @include box-shadow(none);
}
button {
    cursor: pointer;
}
.btn {
    position: relative;
    z-index: 2;
    display: block;
    font: 11px $openSans;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $green;
    @include border-radius(3px);
    &:hover {
        background-color: $blue;
    }
}
.btn-mobile {
    display: none;
}
.contact-us-btn {
    float: left;
    padding: 9px 32px;
    margin-top: 2px;
    background-color: $blue;
    &:hover {
        background-color: $green;
    }
}
.ordered-transportation-btn {
    float: right;
    padding: 9px 26px 9px 56px;
    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        top: 9px;
        left: 18px;
        width: 21px;
        height: 16px;
        background-image: url("../img/sprite.png");
        background-position: -128px 0;
    }
}

.more-btn {
    position: absolute;
    z-index: 2;
    bottom: 5%;
    left: 5%;
    padding: 10px 36px 11px 36px;
    background-color: $category-btn;
    &:hover {
        background-color: $green;
    }
}

.order-call-btn {
    float: right;
    padding: 12px 18px 12px 15px;
    color: #999b9d;
    background-color: $footer-btn;
    &:hover {
        background-color: $footer-btn-hover;
    }
}

.order-service-btn {
    width: 300px;
    padding: 7px 30px;
    margin: 0 auto;
    font: 14px $tahoma;
    text-transform: none;
    text-align: center;
    border: 1px solid $green;
    @include border-radius(4px);
    &:hover {
        color: #6b6b6b;
        background-color: #fff;
    }
}

/* ---------------------------------------------- /*
 Transition elsements
/* ---------------------------------------------- */

a, button {
    @include transition(all 0.2s ease-in-out);
}

/* ----------------------------------------------
 Header
 ---------------------------------------------- */

.top-line {
    padding: 10px 0 11px;
    background-color: $grey;
    .phone {
        float: left;
        margin: 2px 30px 0 20px;
        font: 18px $arial;
        line-height: 33px;
    }
    form {
        float: left;
        width: 40%;
        input {
            width: 100%;
            height: 36px;
            padding: 10px 200px 11px 20px;
            font: 12px $arial;
            color: #757575;
            background-color: #fff;
            @include border-radius(3px);
        }
        button {
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            width: 180px;
            height: 36px;
            font: 11px $openSans;
            color: #fff;
            line-height: 36px;
            text-transform: uppercase;
            background-color: $header-btn;
            @include border-radius(0 3px 3px 0);
            &:hover {
                background-color: $header-btn-hover;
            }
        }
    }
    .lang {
        float: right;
        margin-top: 3px;
        margin-left: 20px;
        font-size: 24px;
        span {
            @include box-shadow(0 0 4px 1px rgba(81, 81, 81, 0.6));
        }
    }
}

header {
    position: absolute;
    z-index: 50;
    top: 57px;
    min-width: 320px;
    height: 140px;
    padding-top: 50px;
    background-color: #fff;
}
.header__links {
    float: left;
    width: 35%;
    font-family: $arial;
    a {
        display: block;
        float: left;
        position: relative;
        z-index: 2;
        padding-left: 40px;
        line-height: 30px;
        + a {
            margin-left: 40px;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            background-image: url("../img/sprite.png");
        }
    }
}
.header__logo {
    display: block;
    float: left;
    width: 30%;
}
.header__btn {
    float: left;
    width: 35%;
}
.rates-icon::before {
    background-position: 0 0;
}
.calculator-icon::before {
    background-position: -64px 0;
}
#m-menu:not( .mm-menu ) {
    display: none;
}
.mobile-nav {
    display: none;
    float: left;
    width: 25%;
    min-width: 70px;
    height: 42px;
    margin-top: -5px;
    background-color: transparent;
    z-index: 50;
}
.menu-button {
    cursor: pointer;
    padding: 0;
}
.hamburger {
    padding: 9px 15px;
    background-color: transparent;
    width: 70px;
    margin: 0;
}
.hamburger-box {
    width: 40px;
    height: 24px;
    position: relative; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: $green;
    border-radius: 4px;
    position: absolute;
}
.hamburger-inner {
    &::before, &::after {
        content: "";
        display: block; }
    &::before {
        top: -10px; }
    &::after {
        bottom: -10px; }
}

.hamburger--collapse {
    .hamburger-inner {
        top: auto;
        bottom: 0;
        @include transition(transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19));
        &::after {
            top: -20px;
            @include transition(top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear);
        }
        &::before {
            @include transition(top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19));
        }
    }
}
.navbar {
    position: absolute;
    z-index: 20;
    top: 197px;
    left: 0;
    width: 100%;
}
.inner {
    .navbar, .top-menu__lvl2, .top-menu__lvl3 {
        background-color: $blue;
    }
    .directions .line-block {
        padding-bottom: 0;
        border-bottom: none;
    }
    .pageheader {
        .container {
            max-width: 1240px;
            height: 100%;
            padding: 0 20px;
        }
    }
}
.navbar, .top-menu__lvl2, .top-menu__lvl3 {
    background-color: $menu-bg;
}
.top-menu {
    font-size: 12px;
    li {
        position: relative;
        z-index: 20;
    }
    a {
        display: block;
        color: #fff;
        text-decoration: none;
        &:hover {
            background-color: $green;
        }
    }
    > li {
        float: left;
        > a {
            padding: 23px 20px 24px;
            text-transform: uppercase;
        }
        &:hover .top-menu__lvl2 {
            display: block;
        }
    }
}
.top-menu__lvl2, .top-menu__lvl3  {
    display: none;
    position: absolute;
    z-index: 20;
    width: 200px;
    > li {
        > a {
            padding: 5px 20px;
        }
    }
}
.top-menu__lvl2 {
    top: 100%;
    left: 0;
    margin-top: -1px;
    > li:hover .top-menu__lvl3 {
        display: block;
    }
}
.top-menu__lvl3 {
    top: 0;
    left: 100%;
}

.pageheader {
    padding: 140px 0 0;
    .container {
        max-width: 1920px;
        padding: 0;
    }
}
.pageheader__slider {
    position: relative;
    z-index: 2;
    height: 750px;
    overflow: hidden;
    img {
        width: auto;
    }
    .slide {
        position: relative;
        z-index: 2;
    }
    .slide__info {
        position: absolute;
        z-index: 2;
        top: 55%;
        left: 45%;
        max-width: 600px;
        color: #fff;
        @include transform(skew(-15deg) translate(-50%, -50%));
        p, ul {
            @include transform(skew(15deg));
        }
    }
    .title-box {
        padding: 30px 40px;
        font-size: 30px;
        text-transform: uppercase;
        background-color: rgba(0, 135, 207, 0.8);
    }
    .about-box {
        padding: 20px 20px 20px 50px;
        font-size: 18px;
        background-color: $menu-bg;
        li {
            margin-bottom: 10px;
            list-style: disc;
        }
    }
    .contact-box {
        padding: 20px;
        font-size: 18px;
        background-color: rgba(105, 186, 46, 0.8);
    }
}

.bread-crumbs {
    padding: 25px 20px;
    margin-top: 61px;
    li {
        float: left;
        font-size: 12px;
        a {
            color: $header-btn;
        }
        &:first-of-type::before {
            content: '';
        }
        &::before {
            content: "\a0\2192\20";
        }
    }
}
.banner-block {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1920px;
    height: 377px;
    margin: 0 auto;
    background-image: url("../img/banner01_s.jpg");
    background-size: cover;
}
.banner__info {
    position: absolute;
    bottom: 30px;
    left: 40px;
    width: 400px;
    padding: 15px;
    color: #fff;
    background-color: rgba(13,108,150,0.7);
}
.inner-grey {
    background-color: $inner-grey-bg;
}
.about-company {
    img {
        float: left;
        width: 130px;
        margin-right: 30px;
        @include border-radius(50%);
        + p {
            padding-top: 30px;
        }
    }
    p {
        font-size: 16px;
    }
}


@import 'head-media';