@import 'head-media';

/* Medium devices */
@media (max-width:1199px) {
    .category__block > h2 {
        bottom: 30px;
    }
    .category__info {
        h2, p {
            margin-bottom: 5px;
        }
        h2 {
            font-size: 14px;
        }
        p {
            font-size: 12px;
        }
    }
    .news .line-block > div + div {
        padding-left: 30px;
    }
    .footer__develop {
        min-width: 500px;
        > div {
            max-width: 320px;
        }
    }
    .footer__logo {
        margin-right: 30px;
    }
    .footer__search-form {
        width: 420px;
        .search-form {
            width: 200px;
        }
    }
}
@media (max-width: 1023px) {
    .category__info p {
        font-size: 11px;
    }
}

/* Small devices */
@media (max-width: 991px) {
    .category__block {
        width: 50%;
    }
    .category__info {
        h2 {
            font-size: 18px;
        }
        p {
            font-size: 12px;
        }
    }
    .work-process__slider {
        .slide__info {
            padding: 70px 30px;
        }
        .slide-inner img {
            left: -20%;
        }
    }
    .footer__menu {
        min-width: 430px;
    }
    .footer__contacts {
        min-width: 290px;
    }
    .footer__logo {
        display: none;
    }
    .footer__develop {
        width: 40%;
        min-width: 290px;
    }
    .order-form {
        input {
            width: 50%;
        }
        label {
            margin-right: 0;
        }
    }
}

/* Extra small devices */
@media (max-width: 767px) {
    .category__block > h2 {
        bottom: 20px;
    }
    .category__block:hover {
        > h2 {
            display: block;
        }
        .category__info {
            display: none;
        }
    }
  /*
    .category__info {
        h2 {
            font-size: 12px;
        }
        p {
            font-size: 10px;
        }
    }*/
    .work-process__slider {
        .slide-inner {
            width: 100%;
        }
        .slide__info p {
            font-size: 14px;
        }
    }
    .directions, .news {
        display: none;
    }
    .directions .line-block > div {
        width: 33.33%;
        margin-bottom: 20px;
    }
    .news .line-block > div {
        width: 50%;
        margin-bottom: 20px;
    }
    .contact-form {
        width: 100%;
        min-width: 100%;
    }
    footer {
        .container > div:first-of-type {
            width: 50%;
            float: right;
        }
    }
    .footer__menu {
        display: none;
    }
    .footer__search-form {
        width: 100%;
    }
    .oversized-cargo ul {
        float: none;
    }
    .portfolio > div {
        width: 100%;
        + div {
            margin-left: 0;
        }
    }
    .order-form {
        input {
            width: 80%;
            margin-bottom: 5px;
        }
        textarea {
            height: 215px;
            margin-top: 10px;
        }
    }
}
@media (max-width: 599px) {
    .category__block > h2 {
        bottom: 10px;
        font-size: 14px;
    }
    .work-process {
        overflow: hidden;
    }
    .work-process__slider {
        padding: 0;
        .slide-inner img {
            width: 360px;
        }
        .slide__image, .slide__info {
            height: 150px;
        }
        .slide__info {
            padding: 10px;
            p {
                padding-top: 30px;
                font-size: 12px;
            }
            span {
                margin-right: 10px;
                font-size: 44px;
            }
        }
    }
    .excellence .line-block > div {
        width: 50%;
        margin-bottom: 20px;
    }
    .directions .line-block > div {
        width: 50%;
    }
    .news {
        .line-block > div {
            width: 100%;
            + div {
                padding-left: 0;
            }
        }
    }
    .logistics {
        h2 {
            font-size: 16px;
            a {
                width: 80px;
            }
        }
    }
    .contact-form .notice {
        float: left;
        margin-top: 20px;
    }
    footer {
        text-align: center;
        .container > div:first-of-type {
            width: 100%;
        }
    }
    .footer__contacts {
        width: 100%;
        p {
            text-align: center;
        }
        .links {
            display: none;
            + p {
                display: none;
            }
        }
    }
    .footer__develop {
        width: 100%;
        > div {
            float: none;
            max-width: 100%;
        }
    }
    .footer__search-form {
        .search-form {
            display: none;
        }
    }
    .order-call-btn {
        float: none;
        display: inline-block;
    }
    .services {
        padding: 35px 25px;
    }
    .order-service-btn {
        width: 220px;
    }
    .scheme > div {
        float: left;
        width: 100%;
        + div {
            margin-left: 0;
        }
    }
    .oversized-cargo li {
        margin-bottom: 20px;
    }
    .sample > a {
        float: none;
        margin-bottom: 10px;
    }
    .gallery > div {
        width: 50%;
    }
    .order-form > div {
        width: 100%;
    }
}