/* Large devices */

/* Medium devices */
@media (max-width:1199px) {
    .top-line {
        .phone {
            font-size: 16px;
        }
        form {
            width: 35%;
        }
        .lang {
            margin-left: 10px;
        }
    }
    .top-menu > li > a {
        padding: 23px 10px 24px;
        text-transform: uppercase;
    }
    .category__block > h2 {
        bottom: 30px;
    }
    .category__info {
        h2, p {
            margin-bottom: 5px;
        }
        h2 {
            font-size: 14px;
        }
        p {
            font-size: 12px;
        }
    }
    .news .line-block > div + div {
        padding-left: 30px;
    }
    .footer__develop {
        min-width: 500px;
        > div {
            max-width: 320px;
        }
    }
    .footer__logo {
        margin-right: 30px;
    }
    .footer__search-form {
        width: 420px;
        .search-form {
            width: 200px;
        }
    }
}
@media (max-width: 1023px) {

}

/* Small devices */
@media (max-width: 991px) {

}

/* Extra small devices */
@media (max-width: 767px) {

}