/* Large devices */

/* Medium devices */
@media (max-width:1199px) {
    .top-line {
        .phone {
            font-size: 16px;
        }
        form {
            width: 35%;
        }
        .lang {
            margin-left: 10px;
        }
    }
    .top-menu > li > a {
        padding: 23px 10px 24px;
        text-transform: uppercase;
    }
    .category__block > h2 {
        bottom: 30px;
    }
    .category__info {
        h2, p {
            margin-bottom: 5px;
        }
        h2 {
            font-size: 14px;
        }
        p {
            font-size: 12px;
        }
    }
    .news .line-block > div + div {
        padding-left: 30px;
    }
    .footer__develop {
        min-width: 500px;
        > div {
            max-width: 320px;
        }
    }
    .footer__logo {
        margin-right: 30px;
    }
    .footer__search-form {
        width: 420px;
        .search-form {
            width: 200px;
        }
    }
}
@media (max-width: 1023px) {
    .top-line .phone {
        margin: 2px 10px 0;
    }
    .top-menu > li > a {
        font-size: 11px;
    }
    .category__info p {
        font-size: 11px;
    }
}

/* Small devices */
@media (max-width: 991px) {
    .top-line {
        .phone {
            display: none;
        }
        form {
            width: 50%;
            margin: 0 20px;
        }
    }
    header {
        height: 120px;
    }
    .header__links {
        display: none;
    }
    .header__btn {
        width: 34%;
    }
    .ordered-transportation-btn {
        margin-top: 10px;
    }
    .navbar {
        display: none;
    }
    .pageheader__slider {
        height: 650px;
        .slide__info {
            top: 50%;
        }
        .title-box {
            padding: 20px 40px;
            font-size: 24px;
        }
        .about-box {
            padding-left: 60px;
        }
        .contact-box {
            padding-left: 30px;
        }
    }
    .category__block {
        width: 50%;
    }
    .category__info {
        h2 {
            font-size: 18px;
        }
        p {
            font-size: 12px;
        }
    }
    .work-process__slider .slide__info {
        padding: 70px 30px;
    }
    .footer__menu {
        min-width: 430px;
    }
    .footer__contacts {
        min-width: 290px;
    }
    .footer__logo {
        display: none;
    }
    .footer__develop {
        width: 40%;
        min-width: 290px;
    }
}

/* Extra small devices */
@media (max-width: 767px) {
    .container {
        padding: 0 10px;
    }
    .top-line {
        display: none;
    }
    header {
        height: 80px;
        padding-top: 15px;
    }
    .header__btn {
        width: 50%;
    }
    /*.ordered-transportation-btn {
        padding: 9px 10px 9px 40px;
        margin-top: 0;
        font-size: 10px;
        &::before {
            top: 16px;
            left: 10px;
        }
    }*/
    .pageheader__slider {
        height: 400px;
        .title-box {
            font-size: 18px;
        }
        .slide__info {
            width: 75%;
            left: 42%;
        }
        .about-box {
            padding-left: 50px;
            font-size: 14px;
        }
        .contact-box {
            font-size: 14px;
        }
    }
    .category__block > h2 {
        bottom: 20px;
    }
    .category__block:hover {
        > h2 {
            display: block;
        }
        .category__info {
            display: none;
        }
    }
  /*
    .category__info {
        h2 {
            font-size: 12px;
        }
        p {
            font-size: 10px;
        }
    }*/
    .work-process__slider .slide__info p {
        font-size: 14px;
    }
    .directions .line-block > div {
        width: 33.33%;
        margin-bottom: 20px;
    }
    .news .line-block > div {
        width: 50%;
        margin-bottom: 20px;
    }
    .contact-form {
        width: 100%;
        min-width: 100%;
    }
    footer {
        .container > div:first-of-type {
            width: 50%;
            float: right;
        }
    }
    .footer__menu {
        display: none;
    }
    .footer__search-form {
        width: 100%;
    }
}
@media (max-width: 599px) {
    .ordered-transportation-btn {
        padding: 9px 10px 9px 40px;
        margin-top: 0;
        font-size: 10px;
        &::before {
            top: 16px;
            left: 10px;
        }
    }
    .pageheader__slider {
        .slide__info {
            width: 85%;
            @include transform(skew(-10deg) translate(-50%, -50%));
            p, ul {
                @include transform(skew(10deg));
            }
        }
        .title-box {
            padding: 10px 20px;
            font-size: 14px;
        }
        .about-box {
            padding: 10px 10px 10px 30px;
            font-size: 12px;
        }
        .contact-box {
            padding: 10px 10px 10px 20px;
            font-size: 12px;
        }
    }
    .category__block > h2 {
        bottom: 10px;
        font-size: 14px;
    }
    .work-process {
        overflow: hidden;
    }
    .work-process__slider {
        padding: 0;
        .slide__image, .slide__info {
            height: 150px;
        }
        .slide__info {
            padding: 10px;
            p {
                padding-top: 30px;
                font-size: 12px;
            }
            span {
                margin-right: 10px;
                font-size: 50px;
            }
        }
    }
    .excellence .line-block > div {
        width: 50%;
        margin-bottom: 20px;
    }
    .directions .line-block > div {
        width: 50%;
    }
    .news {
        .line-block > div {
            width: 100%;
            + div {
                padding-left: 0;
            }
        }
    }
    .logistics {
        h2 {
            font-size: 16px;
            a {
                width: 80px;
            }
        }
    }
    .contact-form .notice {
        float: left;
        margin-top: 20px;
    }
    footer {
        text-align: center;
        .container > div:first-of-type {
            width: 100%;
        }
    }
    .footer__contacts {
        width: 100%;
        p {
            text-align: center;
        }
        .links {
            display: none;
            + p {
                display: none;
            }
        }
    }
    .footer__develop {
        width: 100%;
        > div {
            float: none;
            max-width: 100%;
        }
    }
    .footer__search-form {
        .search-form {
            display: none;
        }
    }
    .order-call-btn {
        float: none;
        display: inline-block;
    }
}