$menu-bg: rgba(0, 0, 0, 0.56);
$grey-bg: #f8f8f8;
$header-btn: #a0a3a7;
$header-btn-hover: #3d4041;
$category-btn: #474a4e;
$footer-bg: #1e1f20;
$footer-btn: #333536;
$footer-btn-hover: #3d4041;
$blue: #0087cf;
$green: #69ba2e;
$grey: #e5e5e5;

$tahoma: Tahoma, sans-serif;
$openSans: 'Open Sans', sans-serif;
$arial: Arial, sans-serif;
